<form method="post" action="/notes/create">
    <div>
        <label>Title</label>
        <input type="text" name="title" id="title" placeholder="title">
    </div>
    <div>
        <label>Description</label>
        <input type="text" name="description" id="description" placeholder="description">
    </div>

    <input type="submit" value="Create New Note"/>
</form>